#create-area {
    padding: 120px 0px 0px 0px;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  background-color: var(--bg-Card);
  padding: 1.25em;
  border-radius: 20px;
}

label {
  font-size: 18px;
  display: block;
  margin: 1rem 0 .4rem;
}

input{
  width: 100%;
  padding: .7rem;
  border-radius: 100px;
  background-color: #1c1c1c;
  color: var(--bg-Font);
  font-size: 1rem;
}

.editor {
  width: 100%;
  padding: .7rem;
  border-radius: 6px;
  background-color: #1c1c1c;
  color: white;
  font-size: 1rem;
}

input:focus {
    background-color: black;
}


.toolbar {
  display: flex;
  gap: .5rem;
  margin-bottom: .5rem;
}

.toolbar button {
  padding: .4rem .6rem;
  font-size: .9rem;
  color: white;
  background-color: var(--bg-Button);
  cursor: pointer;
  border-radius: 4px;
}


.editor {
  min-height: 200px;
}

.btn-publish {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: var(--bg-Button);
  color: white;
  padding: .8rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
}
