#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0;
    padding: 2em 0;

    h1 {
        font-size: 40px;
        font-weight: 700;
    }
}

.search-container {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .search__bar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.5vh 0;
        gap: 0.5em;

        .search {
            border-radius: 100px;
            padding: 0.6em 1.2em;
        }
    }
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  justify-items: center;
  }

  .card{
    display: flex;
    width: 314px;
    height: 240px;
    padding: 1.25em;
    border-radius: 10px;
    margin-top: 5vh;
    background-color: var(--bg-Card);

    .txt-card {
      display: flex;
      position: relative;

      flex-direction: column;
      justify-content: flex-start;
      text-align: justify;
      margin-top: 1vh;

      h4 {
        margin: 0 0 0.5em;
      }

      p {
        height: 160px;
        position: relative;
      }

      .link-card {
        width: 130px;
        background-color: var(--bg-Button);
        color: white;
        border-radius: 8px;
        padding: 0.6em 1.2em;
        text-align: center;
        bottom: 0;
        position: relative;
      }
    }
  }

@media screen and (max-width: 640px) {
    .search-container {
        width: 90%;

        .search__bar {
            .search {
                width: 70%;
            }
        }
    }
}