<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/views/src/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/views/src/assets/styles/main.css" />

  <link rel="stylesheet" href="styles/plataforms.css" />

  <title>GameWired | PC</title>
</head>
<body>
  <div id="header"></div>

  <main id="plataforms">
    <section class="search-container">
      <h1>Plataformas</h1>

      <!--<form action="" class="search__bar">
        <input type="search" name="search" placeholder="O que procura?" class="search" />
        <button class="search-btn">
          <i class="ph ph-magnifying-glass"></i>
        </button>
      </form>-->
    </section>

    <section class="games">
      <h3>PC</h3>

      <div class="carousel">
        <button class="arrow left">&#128896</button>
        <div class="carousel-wrapper">
          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/league-of-legends.jpg" alt="League of Legends" />
            <div class="game-n-more">
              <p>League of Legends</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>League of Legends</h2>
                  <hr>
                  <div class="game-content">
                    <p>League of Legends é um jogo de estratégia em que duas equipes de cinco poderosos Campeões se
                      enfrentam para destruir a base uma da outra. Escolha entre mais de 140 Campeões para realizar
                      jogadas épicas, assegurar abates e destruir torres conforme você luta até a vitória.</p>
                    <p><strong>Gênero:</strong> MOBA, Multijogador, Estratégia</p>
                    <p><strong>Desenvolvedor(a):</strong> Riot Games</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Download:</strong> <a
                        href="https://www.leagueoflegends.com/pt-br/download" target="_blank">https://www.leagueoflegends.com/pt-br/download</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/valorant.jpg" alt="VALORANT" />
            <div class="game-n-more">
              <p>VALORANT</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>VALORANT</h2>
                  <hr>
                  <div class="game-content">
                    <p>VALORANT é um jogo de tiro tático em primeira pessoa (FPS), com partidas de 5 contra 5, onde os
                      jogadores usam habilidades únicas de personagens chamados "Agentes" em um cenário global
                      competitivo. O objetivo principal é plantar ou desarmar a "Spike" (bomba) em um sistema de 13
                      rodadas, combinando a precisão no tiro com o uso estratégico das habilidades de cada agente.</p>
                    <p><strong>Gênero:</strong> Tiro em Primeira Pessoa, Tiro Tático</p>
                    <p><strong>Desenvolvedor(a):</strong> Riot Games</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Download:</strong> <a
                        href="https://playvalorant.com/pt-br/download" target="_blank">https://playvalorant.com/pt-br/download</a></p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/dota.jpg" alt="Dota 2" />
            <div class="game-n-more">
              <p>Dota 2</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Dota 2</h2>
                  <hr>
                  <div class="game-content">
                    <p>Dota 2 é um jogo MOBA (Multiplayer Online Battle Arena) gratuito em equipas de cinco jogadores,
                      onde o objetivo é destruir a estrutura principal da base inimiga, o "Ancestral". Os jogadores
                      escolhem um herói de mais de 100 opções, cada um com habilidades únicas, e devem trabalhar em
                      equipa para ganhar ouro, ganhar nível, comprar itens e estratégias para aniquilar a base
                      adversária.</p>
                    <p><strong>Gênero:</strong> MOBA, Multijogador, Estratégia</p>
                    <p><strong>Desenvolvedor(a):</strong> Valve</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Download:</strong> <a
                        href="https://store.steampowered.com/app/570/" target="_blank">https://store.steampowered.com/app/570/</a></p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/hades.jpg" alt="Hades" />
            <div class="game-n-more">
              <p>Hades</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Hades</h2>
                  <hr>
                  <div class="game-content">
                    <p>Hades é um jogo roguelike de ação e exploração de masmorras onde o jogador controla Zagreus,
                      filho do deus Hades, que tenta escapar do Submundo grego. Cada tentativa de fuga permite que o
                      jogador melhore suas habilidades e desvende a história, com a ajuda dos deuses do Olimpo, que
                      concedem "bênçãos" temporárias.</p>
                    <p><strong>Gênero:</strong> Roguelike, Ação, Aventura</p>
                    <p><strong>Desenvolvedor(a):</strong> Supergiant Games</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Download:</strong> <a
                        href="https://store.steampowered.com/app/1145360/" target="_blank">https://store.steampowered.com/app/1145360/</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/life-is-strange-2.jpg" alt="Life is Strange 2" />
            <div class="game-n-more">
              <p>Life is Strange 2</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Life is Strange 2</h2>
                  <hr>
                  <div class="game-content">
                    <p>Life is Strange 2 é um jogo de aventura em que o jogador controla Sean Diaz, um adolescente
                      que foge com o seu irmão mais novo, Daniel, após um incidente trágico que revela os poderes de Daniel. Os irmãos iniciam uma jornada perigosa para o México, com Sean protegendo Daniel e tomando decisões difíceis que afetarão o destino deles e das pessoas que encontram, com escolhas e consequências. A história explora temas como família, injustiça e a responsabilidade.</p>
                    <p><strong>Gênero:</strong> Jogo de Escolhas, Aventura, Drama</p>
                    <p><strong>Desenvolvedor(a):</strong> Don't Nod, Feral Interactive</p>
                    <p><strong>Tipo:</strong> Pago (dividido em episódios, sendo o primeiro gratuito e o restante pago)
                    </p>
                    <p><strong>Download:</strong> <a
                        href="https://store.steampowered.com/app/532210/" target="_blank">https://store.steampowered.com/app/532210/</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/dst.jpg" alt="Don't Starve Together" />
            <div class="game-n-more">
              <p>Don't Starve Together</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Don't Starve Together</h2>
                  <hr>
                  <div class="game-content">
                    <p>Don't Starve Together é a expansão multijogador independente do jogo de sobrevivência Don't
                      Starve, onde os jogadores devem explorar um mundo desconhecido e hostil, reunindo recursos,
                      criando itens e construindo abrigos para sobreviver aos perigos da natureza e de criaturas
                      bizarras, sozinhos ou em cooperação com amigos, com o objetivo principal de não morrer de fome.
                    </p>
                    <p><strong>Gênero:</strong> Survival, Multiplayer, Aventura</p>
                    <p><strong>Desenvolvedor(a):</strong> Klei Entertainment</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Download:</strong> <a
                        href="https://store.steampowered.com/app/322330/" target="_blank">https://store.steampowered.com/app/322330/</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/twd-telltale.jpg" alt="TWD: The Final Season" />
            <div class="game-n-more">
              <p>TWD: Final Season</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>The Walking Dead: The Final Season</h2>
                  <hr>
                  <div class="game-content">
                    <p>"The Walking Dead: The Final Season" é o capítulo final da jornada de Clementine na série de
                      videojogos, onde ela encontra um lar numa escola isolada e tem de se tornar líder para protegê-la,
                      ao mesmo tempo que cuida do órfão AJ, moldando o futuro dele e o seu. Nesta temporada, as escolhas
                      do jogador definem as relações, o mundo e o desfecho da história de Clementine.</p>
                    <p><strong>Gênero:</strong> Terror, Drama, Apocalipse Zumbi</p>
                    <p><strong>Desenvolvedor(a):</strong> Telltale Games, Skybound Games</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Download:</strong> <a
                        href="https://store.steampowered.com/app/866800/" target="_blank">https://store.steampowered.com/app/866800/</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/ori.jpg" alt="Ori and The Blind Forest" />
            <div class="game-n-more">
              <p>Ori and The Blind Forest</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Ori and The Blind Forest</h2>
                  <hr>
                  <div class="game-content">
                    <p>Ori and the Blind Forest é um jogo de plataforma e ação com foco na exploração. A história narra
                      a jornada de Ori, um espírito guardião branco destinado ao heroísmo, para salvar a moribunda
                      floresta de Nibel de uma escuridão corruptora. O jogo é conhecido pelo seu visual deslumbrante com
                      arte pintada à mão, uma trilha sonora orquestrada e uma história emocional sobre amor e
                      sacrifício. O jogador controla Ori, que adquire diversas habilidades de movimento e luta, como
                      escalar paredes e duplo salto, para navegar por um mundo interligado e resolver puzzles.</p>
                    <p><strong>Gênero:</strong> Plataforma, Metroidvania</p>
                    <p><strong>Desenvolvedor(a):</strong> Moon Studios</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Download:</strong> <a
                        href="https://store.steampowered.com/app/387290/" target="_blank">https://store.steampowered.com/app/387290/</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/celeste.jpg" alt="Celeste" />
            <div class="game-n-more">
              <p>Celeste</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Celeste</h2>
                  <hr>
                  <div class="game-content">
                    <p>Celeste é um jogo de plataforma independente aclamado pela crítica, no qual a jogadora controla
                      Madeline, uma garota que escala a montanha Celeste enquanto enfrenta obstáculos mortais e seus
                      próprios demónios interiores, como ansiedade e depressão, numa jornada de autodescoberta e
                      superação. O jogo é conhecido pela sua jogabilidade desafiadora e precisa, com controles simples
                      de saltar, escalar e dar "dash" (deslocamento aéreo), mas que exigem mestria, e pela sua abordagem
                      delicada e profunda de temas sensíveis, tudo isso num cenário de pixel art.</p>
                    <p><strong>Gênero:</strong> Plataforma, 2D, Gráfico Pixelado, Indie</p>
                    <p><strong>Desenvolvedor(a):</strong> Maddy Makes Games Inc., Extremely OK Games, Ltd.</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Download:</strong> <a
                        href="https://store.steampowered.com/app/504230/" target="_blank">https://store.steampowered.com/app/504230/</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/pc/overwatch-2.jpg" alt="Overwatch 2" />
            <div class="game-n-more">
              <p>Overwatch 2</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Overwatch 2</h2>
                  <hr>
                  <div class="game-content">
                    <p>Overwatch 2 é um jogo eletrónico multijogador de tiro em primeira pessoa, onde as equipas de 5
                      heróis se enfrentam em batalhas intensas para cumprir objetivos em variados mapas. Com um elenco
                      de mais de 30 heróis únicos, cada um com habilidades distintas, os jogadores colaboram em equipas
                      para defender pontos e lutar pela supremacia. O jogo oferece um ambiente de combate dinâmico e em
                      constante evolução, com modos de jogo e conteúdo novo a ser adicionado regularmente para manter a
                      experiência fresca e competitiva. </p>
                    <p><strong>Gênero:</strong> Tiro em Primeira Pessoa, Ação</p>
                    <p><strong>Desenvolvedor(a):</strong> Blizzard Entertainment</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Download:</strong> <a
                        href="store.steampowered.com/app/2357570/" target="_blank">store.steampowered.com/app/2357570</a></p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <button class="arrow right">&#128898</button>
      </div>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/views/src/assets/scripts/_navBar.js"></script>
  <script src="/views/src/assets/scripts/_temas.js"></script>
  <script src="/views/src/assets/scripts/_carousel-cards.js"></script>
  <script src="/views/src/pages/global/global-js/global-footer-header.js"></script>

</body>
</html>