<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/views/src/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/views/src/assets/styles/main.css" />

  <link rel="stylesheet" href="styles/plataforms.css" />

  <title>GameWired | Mobile</title>
</head>
<body>
  <div id="header"></div>

  <main id="plataforms">
    <section class="search-container">
      <h1>Plataformas</h1>

      <!--<form action="" class="search__bar">
        <input type="search" name="search" placeholder="O que procura?" class="search" />
        <button class="search-btn">
          <i class="ph ph-magnifying-glass"></i>
        </button>
      </form>-->
    </section>

    <section class="games">
      <h3>Mobile</h3>

      <div class="carousel">
        <button class="arrow left">&#128896</button>
        <div class="carousel-wrapper">
          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/wild-rift.jpg" alt="League of Legends: Wild Rift" />
            <div class="game-n-more">
              <p>Wild Rift</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>League of Legends: Wild Rift</h2>
                  <hr>
                  <div class="game-content">
                    <p>Wild Rift é a versão mobile do League of Legends, um jogo do género MOBA (Arena de Batalha Multiplayer Online) que foi totalmente redesenhado para celular, mantendo a experiência competitiva de 5 contra 5 jogadores, mas com partidas mais rápidas, controles otimizados para toque e um mapa simplificado. O objetivo principal é destruir o Nexus da equipe adversária, colaborando com os companheiros de equipe para derrubar as suas torres defensivas, usando um dos muitos Campeões com habilidades únicas.</p>
                    <p><strong>Gênero:</strong> MOBA, Estratégia</p>
                    <p><strong>Desenvolvedor(a):</strong> Riot Games</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/ds-pocket.jpg" alt="Don't Starve: Pocket Edition" />
            <div class="game-n-more">
              <p>Don't Starve</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Don't Starve: Pocket Edition</h2>
                  <hr>
                  <div class="game-content">
                    <p>Don't Starve é um jogo de sobrevivência com uma atmosfera gótica e arte minimalista que te joga em um mundo desolado e hostil, cheio de criaturas bizarras e perigos constantes. Você assume o papel de Wilson, um cientista cavalheiro que foi transportado para esse universo estranho por um demônio astuto chamado Maxwell. Você é jogado no mapa e precisa descobrir sozinho como coletar recursos, criar ferramentas, construir um acampamento e, o mais importante, se manter vivo. A exploração é crucial, pois cada bioma oferece recursos únicos e diferentes perigos.</p>
                    <p><strong>Gênero:</strong> Survival, Aventura, Ação</p>
                    <p><strong>Desenvolvedor(a):</strong> Klei Entertainment</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/free-fire.jpg" alt="Free Fire" />
            <div class="game-n-more">
              <p>Free Fire</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Free Fire</h2>
                  <hr>
                  <div class="game-content">
                    <p>Free Fire é um jogo onde 50 jogadores caem numa ilha, procuram armas e equipamentos, e lutam até que apenas um jogador ou equipa sobreviva. O jogo é conhecido pela sua jogabilidade rápida, mapas variados e pela sua acessibilidade em quase todos os celulares, o que contribuiu para a sua enorme popularidade. Procure pelo melhor equipamento e não tenha piedade, o objetivo é um só: sobreviver até o último instante!</p>
                    <p><strong>Gênero:</strong> Battle Royale, Jogo de Tiro</p>
                    <p><strong>Desenvolvedor(a):</strong> Garena</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/clash-of-clans.jpg" alt="Clash of Clans" />
            <div class="game-n-more">
              <p>Clash of Clans</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Clash of Clans</h2>
                  <hr>
                  <div class="game-content">
                    <p>Clash of Clans é um jogo mobile de estratégia em tempo real, que combina elementos de gestão de recursos, construção de vilas e batalhas multiplayer. No jogo, o jogador assume o papel de líder de uma vila. O objetivo é construir, expandir e proteger essa vila usando recursos como ouro, elixir e elixir negro. Esses recursos são coletados por meio de construções próprias ou saqueando outras vilas em batalhas online.</p>
                    <p><strong>Gênero:</strong> Multiplayer, Estratégia</p>
                    <p><strong>Desenvolvedor(a):</strong> Supercell</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/pokemon-go.jpg" alt="Pokémon GO" />
            <div class="game-n-more">
              <p>Pokémon GO</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Pokémon GO</h2>
                  <hr>
                  <div class="game-content">
                    <p>Pokémon GO é um jogo de realidade aumentada onde jogadores exploram o mundo real usando um
                      smartphone, com o objetivo de capturar Pokémon que aparecem em locais específicos do mapa,
                      interagir com PokéParagens para obter itens e lutar contra outros jogadores e Pokémon. O jogo
                      utiliza o GPS do celular para criar um mapa interativo do mundo real, que é povoado por criaturas
                      virtuais, e o jogador deve mover-se para as encontrar e pegar.</p>
                    <p><strong>Gênero:</strong> Aventura, Mundo Aberto, Realidade Virtual</p>
                    <p><strong>Desenvolvedor(a):</strong> Niantic</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/genshin.jpg" alt="Genshin Impact" />
            <div class="game-n-more">
              <p>Genshin Impact</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Genshin Impact</h2>
                  <hr>
                  <div class="game-content">
                    <p>Genshin Impact se passa no mundo de Teyvat, onde o jogador controla o "Viajante", um aventureiro
                      que busca seu irmão perdido. A história principal envolve a exploração das sete nações de Teyvat,
                      cada uma com sua própria cultura, elemento (Anemo, Geo, Electro, Dendro, Hydro, Pyro, Cryo) e
                      Arconte. O jogo é conhecido por seu sistema de combate baseado em elementos, exploração de mundo
                      aberto, sistema de gacha para obter personagens e armas, e a possibilidade de jogar com amigos em
                      modo cooperativo.</p>
                    <p><strong>Gênero:</strong> RPG de Ação, Mundo Aberto</p>
                    <p><strong>Desenvolvedor(a):</strong> miHoYo</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, PlayStation 5, PlayStation 4, iOS, Microsoft Windows
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/clash-royale.jpg" alt="Clash Royale" />
            <div class="game-n-more">
              <p>Clash Royale</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Clash Royale</h2>
                  <div class="game-content">
                    <p>Clash Royale é um jogo mobile de estratégia em tempo real, lançado em 2016 pela Supercell, mesma criadora de Clash of Clans. Ele mistura cartas colecionáveis, tower defense e batalhas 1x1 ou 2x2 online. No jogo, os jogadores utilizam um baralho de 8 cartas formado por tropas, feitiços e construções. O objetivo é destruir as torres inimigas, sendo a Torre do Rei a mais valiosa (garante vitória instantânea se for derrubada). Cada partida dura até 3 minutos, com possível prorrogação em caso de empate.</p>
                    <p><strong>Gênero:</strong> Estratégia, Cartas</p>
                    <p><strong>Desenvolvedor(a):</strong> Supercell</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/roblox.jpg" alt="Roblox" />
            <div class="game-n-more">
              <p>Roblox</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Roblox</h2>
                  <div class="game-content">
                    <p>Roblox é uma plataforma online de criação e jogos, que permite aos usuários criar, compartilhar e jogar experiências interativas feitas por outros jogadores do mundo todo. Mais do que um simples jogo, o Roblox é um universo virtual. Nele, cada jogador pode explorar milhões de experiências criadas pela comunidade, que vão desde minijogos casuais até simuladores complexos e aventuras de mundo aberto.</p>
                    <p><strong>Gênero:</strong> Mundo Aberto, Simulação</p>
                    <p><strong>Desenvolvedor(a):</strong> Roblox Corporation</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/angry-birds.jpg" alt="Angry Birds" />
            <div class="game-n-more">
              <p>Angry Birds</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Angry Birds</h2>
                  <hr>
                  <div class="game-content">
                    <p>Angry Birds é um jogo mobile de quebra-cabeça e estratégia. No jogo, os jogadores usam um estilingue para lançar pássaros contra estruturas habitadas por porcos verdes, que roubaram seus ovos. Cada tipo de pássaro possui uma habilidade especial e o objetivo é derrubar todas as construções e derrotar os porcos com o menor número de lançamentos possível. O jogo oferece centenas de fases com dificuldade progressiva, sempre exigindo criatividade, precisão e lógica.</p>
                    <p><strong>Gênero:</strong> Estratégia, Puzzle</p>
                    <p><strong>Desenvolvedor(a):</strong> Rovio Entertainment</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/views/src/assets/imgs/plataformas/mobile/subway-surfers.jpg" alt="Subway Surfers" />
            <div class="game-n-more">
              <p>Subway Surfers</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Subway Surfers</h2>
                  <hr>
                  <div class="game-content">
                    <p>Subway Surfers é um jogo mobile de corrida infinita (endless runner). O jogador assume o papel de Jake (ou outros personagens desbloqueáveis) que é pego pichando um trem. A partir daí começa a fuga: você deve correr pelos trilhos enquanto é perseguido por um inspetor e seu cachorro. Durante a corrida, o jogador precisa desviar de obstáculos como trens, barreiras e sinais, ao mesmo tempo em que coleta moedas, power-ups e prêmios especiais. Esses recursos permitem desbloquear novos personagens, pranchas (hoverboards) e melhorias.</p>
                    <p><strong>Gênero:</strong> Corrida Infinita, Arcade, Casual</p>
                    <p><strong>Desenvolvedor(a):</strong> Kiloo e SYBO Games</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Android, iOS</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <button class="arrow right">&#128898</button>
      </div>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/views/src/assets/scripts/_navBar.js"></script>
  <script src="/views/src/assets/scripts/_temas.js"></script>
  <script src="/views/src/assets/scripts/_carousel-cards.js"></script>
  <script src="/views/src/pages/global/global-js/global-footer-header.js"></script>

</body>
</html>