#community {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 5em;
    margin-bottom: 5em;
    padding: 0 5em;
}

.container__community {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5%;
    position: relative;
    z-index: 1;
}

.container__community .left {
    height: max-content;
    position: sticky;
    width: 30vw;
}

.container__community .left .profile {
    display: flex;
    background: var(--bg-Card);
    border-radius: 10px;
    padding: 20px;
    gap: 1em;
}

.container__community .left .profile .infos {
    display: flex;
    gap: 1em;
}

.container__community .left .profile .infos .user-img img {
    height: 140px;
    width: 170px;
    border-radius: 10px;
}

.container__community .left .profile .infos .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 0.7em;
}

#CommunityLoggedIn {
    display: flex;
    width: 100%;
}

.hidden {
    display: none !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--bg-Card);
    padding: 25px;
    border-radius: 10px;
    width: 75%;
    height: max-content;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

.modal-content form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 1.2rem;
}

.modal-content form textarea {
    resize: none;
    overflow: hidden;
}

.modal-content form .titleCatg .title {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    padding: 0.6em 0.6em;
    background-color: var(--bg-Background);
    color: var(--bg-Font);
}

.modal-content form .titleCatg {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 1rem;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.modal-content form .titleCatg .postCategoria {
    border-radius: 10px;
    padding: 0.3em 0.6em;
    background-color: var(--bg-Background);
    color: var(--bg-Font);
}

.modal-content form .subject {
    width: 90%;
    height: 150px;
    border-radius: 10px;
    padding: 0.3em 0.6em;
    background-color: var(--bg-Background);
    color: var(--bg-Font);
}

.container__community .left .community-select {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-Card);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.container__community .left .community-select #catg-select {
    width: 100%;
    letter-spacing: 0.5px;

    p {
        font-size: 16px;
    }
}

.container__community .left .community-select #catg-select .community-filter {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.container__community .left .community-select #catg-select .community-filter select {
    width: 75%;
    margin-top: 0.5rem;
    display: block;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 10px;
    background-color: var(--bg-Background);

    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--bg-Font);
}

.container__community .left .community-select #catg-select .community-filter button {
    margin-top: 0.5rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background-color: var(--bg-Background);
    width: 25%;

    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--bg-Font);
}

.middle {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: max-content;
    position: relative;
    background: var(--bg-Card);
    border-radius: 10px;
    padding: 20px;
    gap: 1em;
    margin-bottom: 1.5em;
}

.middle #postsContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 0.8em;
}

.comment_menu {
    position: relative;
    margin-left: auto;
}

.comment_menu button {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    color: var(--bg-Font);
}

.post_menu {
    position: relative;
    margin-left: auto;
}

.post_menu button {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    color: var(--bg-Font);
}

.menu_options {
    display: none;
    position: absolute;
    right: 15px;
    top: 0;
    width: 150px;
    background: var(--bg-Card);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 5px;
    z-index: 10;
}

.menu_options button {
    padding: 8px 12px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    color: var(--bg-Font);
    font-size: 16px;
}

.menu_options button:hover {
    color: var(--bg-Button);
}

.middle #postsContainer .post {
    display: flex;
    flex-direction: column;
    background: var(--bg-Background);
    padding: 1em;
    border-radius: 10px;
    gap: 1em;
}

.middle #postsContainer .post .post_origem {
    display: flex;
    gap: 1em;
}

.middle #postsContainer .post .user_photo {
    img {
        height: 65px;
        border-radius: 10px;
    }
}

.middle #postsContainer .post .infos_post {
    display: flex;
    flex-direction: column;

    .username {
        font-size: 24px;
        font-weight: 600;
    }

    .Catg {
        font-size: 16px;
        font-weight: 300;
    }
}

.middle #postsContainer .post .content_post {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.middle #postsContainer .post .dataPost {
    font-size: 16px;
    font-weight: 500;
}

.middle .comments_list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.middle .comments_list .comment {
    display: flex;
    flex-direction: column;
    resize: none;
    overflow: hidden;
    width: 100%;
    height: max-content;
    color: var(--bg-Font);
    background: var(--bg-Card);
    border-radius: 10px;
    padding: 10px;
    gap: 0.5em;
}

.middle .comments_list .comment .comment_origem {
    display: flex;
    gap: 1em;
}

.middle .comments_list .comment .user_photo_comment {
    img {
        height: 45px;
        border-radius: 10px;
    }
}

.middle .comments_list .comment .infos_comment {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .usernameComment {
        font-size: 20px;
        font-weight: 600;
    }
}

.middle .comments_list .comment .content_comment {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.middle .comments_list .comment .dataComment {
    font-size: 16px;
    font-weight: 500;
}

.middle .comments {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.middle .comments .commentContent {
    resize: none;
    overflow: hidden;
    width: 100%;
    height: 45px;
    color: var(--bg-Font);
    background: var(--bg-Card);
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width: 1024px) {

    #community {
        padding: 0;
    }

    .container__community {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        .left {
            position: relative;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .profile {
                display: none;
            }


            .sidebar {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 80%;
                padding: 1.5em;

                h3 {
                    position: absolute;
                    left: 12%;
                    top: 20%;
                    font-size: 1em;
                }

                .side-item {
                    padding: 0.5em;
                    width: 100%;

                    img {
                        object-fit: cover;
                        height: 50px;
                        width: 60px;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        .middle {
            width: 80%;

            .create-post {

                input[type="text"] {
                    font-size: 0.8em;
                    padding-left: 0.6em;
                }
            }

            .pubs {
                height: auto;
                padding: 1em;

                .info-pub {
                    p {
                        margin: 1em 0;
                        align-self: flex-start;
                        font-weight: 800;
                    }

                    img {
                        max-height: 280px;
                        object-fit: fill;
                    }

                    .action-button {
                        justify-content: space-between;
                        width: 100%;

                        .bi {
                            font-size: 1em;
                            padding: 0 0.5em;
                        }

                    }
                }
            }
        }

        .right {
            display: none;
        }
    }
}


@media screen and (max-width: 640px) {

    .container__community {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        .left {
            position: relative;
            top: 0;

            .profile {
                display: none;
            }


            .sidebar {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 1em;

                h3 {
                    position: absolute;
                    left: 5%;
                    top: 20%;
                    font-size: 1em;
                }

                .side-item {
                    padding: 0.5em;
                    width: 100%;

                    img {
                        object-fit: cover;
                        height: 50px;
                        width: 60px;
                    }

                    p {
                        display: none;
                    }
                }
            }
        }

        .middle {
            width: 96%;

            .create-post {

                .profile-photo {
                    img {
                        display: none;
                    }
                }

                input[type="text"] {
                    font-size: 0.8em;
                    padding-left: 0.6em;
                }
            }

            .pubs {
                height: auto;
                padding: 1em;

                .info-pub {
                    p {
                        margin: 1em 0;
                        align-self: flex-start;
                        font-weight: 800;
                    }

                    img {
                        max-height: 280px;
                        object-fit: fill;
                    }

                    .action-button {
                        justify-content: center;
                        width: 100%;

                        .bi {
                            font-size: 1em;
                            padding: 0 0.5em;
                        }

                    }
                }
            }
        }

        .right {
            display: none;
        }
    }
}