#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2vh 0;
  padding: 4em 0;
}

.welcome {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: clamp(2.85rem, 5vw + 1rem, 4.5rem);
    font-weight: 800;
    color: var(--bg-Button);
  }
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  justify-items: center;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 80%;
  margin-bottom: 5em;
  margin-top: 5em;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 75vh;
  width: 100%;
  margin-bottom: 5em;

  h2 {
    margin: 1vh 0;
    margin-bottom: 0.5em;
    padding: 1px 5px;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  .arrow {
    position: absolute;
    transform: translateY(-50%);
    background: rgba(27, 20, 46, 0.4);
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 10%;
    z-index: 5;
  }

  .arrow.left {
    left: -40px;
  }

  .arrow.right {
    right: -40px;
  }

  .carousel-wrapper {
    display: flex;
    height: 65vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-bottom: 5em;
  width: 80%;

  .efect {
    text-align: center;
    width: 85%;
  }

  .community-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 4em;
  }
}

.developers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-bottom: 5em;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .news {
    height: 100%;
    margin-bottom: 5vh;
  }

  .games {
    .carousel {
      width: 80%;

      .carousel-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }

  .community {
    width: 100%;

    .community-wrapper {
      flex: 0 0 100%;
      display: flex;
      gap: 1.5em;
      height: auto;
      width: 100%;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      padding: 1rem;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
  }
}

@media screen and (max-width: 640px) {
  .news {
    height: 100%;
    width: 90%;
    margin-bottom: 5vh;
  }

  .games {
    .carousel {
      width: 80%;

      .carousel-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }

  .community {
    .community-wrapper {
      flex: 0 0 100%;
      display: flex;
      gap: 4em;
      height: auto;
      width: 100%;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      padding: 1rem;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
  }
}