<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/frontend/public/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />

  <link rel="stylesheet" href="/frontend/views/components/styles/editor-dashboard.css" />

  <title>GameWired | Dashboard</title>
</head>
<body>
  <div id="header"></div>

  <main id="dashboard">
    <section class="search-container">
      <h1>Dashboard do Editor</h1>
    </section>

    <section class="container-cards">
      <div class="card">
        <div class="txt-card">

          <h4>
            Novo Conteúdo
          </h4>

          <p>
            Crie uma nova publicação para o blog.
          </p>

          <a href="/frontend/views/pages/subpages/create-news.html" class="link-card">
            Nova Notícia
          </a>
        </div>
      </div>

      <div class="card">
        <div class="txt-card">

          <h4>
            Gerenciar Notícias
          </h4>

          <p>
            Visualize, edite e exclua ponstagens existentes.
          </p>

          <a href="/frontend/views/pages/subpages/create-news.html" class="link-card">
            Gerenciar
          </a>
        </div>
      </div>

      <div class="card">
        <div class="txt-card">

          <h4>
            Categorias e Tags
          </h4>

          <p>
            Organize e crie tags para conteúdos.
          </p>

          <a href="/frontend/views/pages/subpages/create-news.html" class="link-card">
            Configurar
          </a>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer"></footer>

  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>
  <script src="/frontend/public/assets/scripts/_news-pages.js"></script>
  
</body>
</html>