<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/png" href="/frontend/public/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />
  <link rel="stylesheet" href="/frontend/views/components/styles/edit-news.css" />

  <title>GameWired | Editar Notícia</title>
</head>

<body>
  <div id="header"></div>

  <main id="news">
    <section class="container">
      <article class="notice">

        <a href="../manage-news.html" class="btn-back">
          <i class="bi bi-arrow-left"></i>
          Voltar
        </a>

        <h2 class="title">
          <input type="text" id="titulo" placeholder="Digite o título">
        </h2>

        <span class="date">
          <input type="date" id="data">
        </span>

        <div class="head">
          <!--
          <p>
            <input type="text" id="resumo" placeholder="Resumo da notícia">
          </p>
          -->
          
          <img id="preview-img" class="img" />

          <input type="file" id="imagem" accept="image/*">
        </div>

        <div class="txt-notice">
          <textarea id="conteudo" rows="10" placeholder="Conteúdo da notícia"></textarea>

          <input type="text" id="link" placeholder="Link da fonte">
        </div>

        <div class="actions">
          <button id="btn-save">Salvar alterações</button>
        </div>

      </article>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/frontend/views/components/scripts/edit-news.js"></script>

  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>

</body>
</html>