<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />
    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="footer-head">
            <span>GameWired</span>
            <img src="/frontend/public/assets/imgs/Logo.svg" data-theme-image data-dark-src="/frontend/public/assets/imgs/Logo.svg" data-light-src="/frontend/public/assets/imgs/Logolight.svg" alt="Logo do GameWired"/>
        </div>

        <div class="infos">
            <div class="about">
                <ul>
                    <li>
                        <a href="">Sobre</a>
                    </li>

                    <li>
                        <a href="">Contato/Suporte</a>
                    </li>

                    <li>
                        <a href="https://gamewiredfaq.netlify.app/">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="direitos">
            <p>© Copyright 2024 GameWired. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="/frontend/public/assets/scripts/_temas.js"></script>
</body>
</html>