/*@media screen and (max-width: 1920px) {

    #plataforms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2vh 0;
        padding: 2em 0;

        h1 {
            font-size: 50px;
        }
    }

    .search-container {
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .search__bar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1.5vh 0;
            gap: .5em;
        }
    }

    .games {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 60vh;
        width: 100%;
        margin-bottom: 5em;

        h3 {
            margin: 2vh 0;
            margin-bottom: 1em;
            margin-top: -1em;
            background-color: #191919;
            display: inline-block;
            justify-content: center;
            padding: 3px 10px;
            color: white;
            font-size: 25px;
            border-radius: 50px;
        }

        .carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 90%;
            margin: 0 auto;
        }

        .arrow {
            position: absolute;
            transform: translateY(-50%);
            background: rgba(27, 20, 46, 0.4);
            align-items: center;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 24px;
            padding: 10px;
            border-radius: 10%;
            z-index: 5;
        }

        .arrow.left {
            left: -40px;
        }

        .arrow.right {
            right: -40px;
        }

        .carousel-wrapper {
            display: flex;
            height: 65vh;
            width: 100%;
            padding: 0;
            overflow: hidden;
        }
    }
}*/

/*@media screen and (max-width: 1366px) {*/
#plataforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0;
    padding: 2em 0;

    .search-container {
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .search__bar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1.5vh 0;
            gap: .5em;
        }

        h1 {
            font-size: 40px;
            font-weight: 700;
        }
    }

    .games {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 60vh;
        width: 100%;
        margin-bottom: 5em;

        h3 {
            margin: 2vh 0;
            margin-bottom: 1em;
            margin-top: -1em;
            background-color: #191919;
            display: inline-block;
            justify-content: center;
            padding: 3px 10px;
            color: white;
            font-size: 25px;
            border-radius: 50px;
        }

        .carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 90%;
            margin: 0 auto;
        }

        .arrow {
            position: absolute;
            transform: translateY(-50%);
            background: rgba(27, 20, 46, 0.4);
            align-items: center;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 24px;
            padding: 10px;
            border-radius: 10%;
            z-index: 5;
        }

        .arrow.left {
            left: -40px;
        }

        .arrow.right {
            right: -40px;
        }

        .carousel-wrapper {
            display: flex;
            height: 65vh;
            width: 100%;
            padding: 0;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 1024px) {
    /*.games {

        .carousel {
            width: 80%;

            .carousel-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }*/

    #plataforms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1vh 0;
        padding: 1em 0;

        .search-container {
            height: 35vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .search__bar {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1.5vh 0;
                gap: .5em;
            }

            h1 {
                font-size: 45px;
            }
        }

        .games {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 60vh;
            width: 100%;
            margin-bottom: 5em;

            h3 {
                margin: 2vh 0;
                margin-bottom: 1em;
                margin-top: -1em;
                background-color: #191919;
                display: inline-block;
                justify-content: center;
                padding: 3px 10px;
                color: white;
                font-size: 25px;
                border-radius: 50px;
            }

            .carousel {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 90%;
                margin: 0 auto;
            }

            .arrow {
                position: absolute;
                transform: translateY(-10%);
                background: rgba(27, 20, 46, 0.4);
                align-items: center;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 24px;
                padding: 10px;
                border-radius: 10%;
                z-index: 5;
            }

            .arrow.left {
                left: -40px;
            }

            .arrow.right {
                right: -40px;
            }

            .carousel-wrapper {
                display: flex;
                height: 65vh;
                width: 100%;
                padding: 0;
                overflow: hidden;
            }
        }
    }
}

@media screen and (max-width: 640px) {

    #plataforms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1vh 0;
        padding: 1em 0;

        .search-container {
            height: 35vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .search__bar {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1.5vh 0;
                gap: .5em;
            }

            h1 {
                font-size: 40px;
            }
        }

        .games {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 55vh;
            width: 100%;
            margin-bottom: 5em;

            h3 {
                margin: 2vh 0;
                margin-bottom: 1em;
                margin-top: -1em;
                background-color: #191919;
                display: inline-block;
                justify-content: center;
                padding: 3px 10px;
                color: white;
                font-size: 20px;
                border-radius: 50px;
            }

            .carousel {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 90%;
                margin: 0 auto;
            }

            .arrow {
                position: absolute;
                transform: translateY(-10%);
                background: rgba(27, 20, 46, 0.4);
                align-items: center;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 18px;
                padding: 5px;
                border-radius: 10%;
                z-index: 5;
            }

            .arrow.left {
                display: none;
            }

            .arrow.right {
                display: none;
            }

            .carousel-wrapper {
                display: flex;
                height: 65vh;
                width: 100%;
                padding: 0;
                overflow-x: scroll;
                overflow-y: hidden;
                scrollbar-width: none;
            }

            .carousel-wrapper::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 490px) {

    #plataforms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1vh 0;
        padding: 1em 0;

        .search-container {
            height: 35vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .search__bar {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1.5vh 0;
                gap: .5em;
            }

            h1 {
                font-size: 40px;
            }
        }

        .games {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 55vh;
            width: 100%;
            margin-bottom: 5em;

            h3 {
                margin: 2vh 0;
                margin-bottom: 1em;
                margin-top: -1em;
                background-color: #191919;
                display: inline-block;
                justify-content: center;
                padding: 3px 10px;
                color: white;
                font-size: 20px;
                border-radius: 50px;
            }

            .carousel {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 90%;
                margin: 0 auto;
            }

            .arrow {
                position: absolute;
                transform: translateY(-10%);
                background: rgba(27, 20, 46, 0.4);
                align-items: center;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 18px;
                padding: 5px;
                border-radius: 10%;
                z-index: 5;
            }

            .arrow.left {
                display: none;
            }

            .arrow.right {
                display: none;
            }

            .carousel-wrapper {
                display: flex;
                height: 65vh;
                width: 100%;
                padding: 0;
                overflow-x: scroll;
                overflow-y: hidden;
                scrollbar-width: none;
            }

            .carousel-wrapper::-webkit-scrollbar {
                display: none;
            }
        }
    }
}