<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/front-backend/views/src/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/front-backend/views/src/assets/styles/main.css" />

  <link rel="stylesheet" href="styles/plataforms.css" />

  <title>GameWired | Console</title>
</head>

<body>
  <div class="eclipse"></div>

  <header class="main-header">
    <nav class="main-nav">
      <div class="nav__logo">
        <a href="/front-backend/views/public/index.html">
          <img src="/front-backend/views/src/assets/imgs/Logo.svg" data-theme-image data-dark-src="/front-backend/views/src/assets/imgs/Logo.svg"
            data-light-src="/front-backend/views/src/assets/imgs/Logolight.svg" alt="Exemplo" />
        </a>
      </div>

      <div class="nav__center">
        <ul>
          <li> <a href="news.html" class="abas"> Notícias </a> </li>
          <li>
            <a href="" class="abas"> Plataformas </a>
            <i class="arrow"></i>
              <ul class="platforms-list">
                <li><a href="computer.html" class="abas">PC</a></li>
                <li><a href="console.html" class="abas">Console</a></li>
                <li><a href="mobile.html" class="abas">Mobile</a></li>
              </ul>
          </li>
          <li> <a href="community.html" class="abas"> Comunidade </a> </li>
        </ul>
      </div>

      <div class="nav__user">
        <button class="theme-toggle" id="theme-toggle" aria-label="Alternar tema">
          <i class="ph ph-moon-stars"></i>
        </button>

        <a href="register.html">
          <i class="bi bi-person-badge"></i>
        </a>

        <button class="nav-button" aria-label="Abrir menu de navegação" onclick="openMenu()">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
        </button>
      </div>
    </nav>

    <div class="nav__mobile">
      <a href="register.html">
        <i class="bi bi-person-badge"></i>
      </a>

      <ul>
        <li>
          <a href="news.html" class="abas-mobile"> Notícias </a>
        </li>

        <li>
          <a href="plataforms.html" class="abas-mobile">
            Plataformas
          </a>
        </li>

        <li>
          <a href="community.html" class="abas-mobile">
            Comunidade
          </a>
        </li>
      </ul>
    </div>
  </header>

  <main id="plataforms">
    <section class="search-container">
      <h1>Plataformas</h1>

      <!--<form action="" class="search__bar">
        <input type="search" name="search" placeholder="O que procura?" class="search" />
        <button class="search-btn">
          <i class="ph ph-magnifying-glass"></i>
        </button>
      </form>-->
    </section>

    <section class="games">
      <h3>Console</h3>

      <div class="carousel">
        <button class="arrow left">&#128896</button>
        <div class="carousel-wrapper">
          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/nba-2k25.jpg" alt="NBA 2K25" />
            <div class="game-n-more">
              <p>NBA 2K25</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>NBA 2K25</h2>
                  <hr>
                  <div class="game-content">
                    <p>NBA 2K25 é o simulador de basquete mais recente da série NBA 2K, que oferece uma jogabilidade
                      aprimorada com novas mecânicas como o cancelamento de arremesso e um sistema de defesa adaptativo,
                      visuais de alta qualidade com a tecnologia Pro Play e mais de 60 FPS em consoles, e o modo
                      MyCAREER com uma nova história e o novo espaço MyGM. O jogo também apresenta o modo MyTEAM, com
                      microtransações, a cidade para exploração, e um novo modo multijogador online chamado Gravity
                      Ball.</p>
                    <p><strong>Gênero:</strong> Esporte, Basquete, PvP</p>
                    <p><strong>Desenvolvedor(a):</strong> Visual Concepts</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 5, PlayStation 4, Nintendo Switch, Xbox One, Xbox
                      Series X and Series S, Microsoft Windows</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/tlou-2.jpg" alt="The Last of Us II" />
            <div class="game-n-more">
              <p>The Last of Us II</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>The Last of Us II</h2>
                  <hr>
                  <div class="game-content">
                    <p>The Last of Us Part II é uma continuação do jogo original, seguindo Ellie e Joel num mundo
                      pós-apocalíptico devastado por uma pandemia de infeção fúngica, mas o foco desta vez recai na
                      jornada de Ellie em busca de vingança após um evento traumático interromper a sua vida pacífica em
                      Jackson. O jogo explora as consequências da vingança, mostrando o seu impacto emocional e físico
                      nos personagens, ao mesmo tempo que apresenta uma narrativa complexa e reflexiva sobre ódio e
                      moralidade, com uma jogabilidade focada em ação furtiva e exploração.</p>
                    <p><strong>Gênero:</strong> Ação, Survival, Aventura</p>
                    <p><strong>Desenvolvedor(a):</strong> Naughty Dog</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 4</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/gow-ragnarok.jpg" alt="God of War Ragnarök" />
            <div class="game-n-more">
              <p>God of War Ragnarök</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>God of War Ragnarök</h2>
                  <hr>
                  <div class="game-content">
                    <p>God of War Ragnarök é um jogo que continua a história de Kratos e Atreus, onde eles devem viajar
                      pelos Nove Reinos para impedir o Ragnarök, a batalha final da mitologia nórdica. Os jogadores
                      enfrentarão deuses e monstros, utilizando um arsenal de armas como o Machado Leviatã e as Lâminas
                      do Caos, com novas habilidades sendo desbloqueadas para ambos os personagens. A trama aborda a
                      relação entre pai e filho, com Atreus buscando conhecimento sobre seu destino e Kratos lutando
                      para não repetir seus erros do passado. </p>
                    <p><strong>Gênero:</strong> Ação, Aventura</p>
                    <p><strong>Desenvolvedor(a):</strong> Santa Monica Studio, Jetpack Interactive</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 5, PlayStation 4, Microsoft Windows</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/ghost-tsushima.jpg" alt="Ghost of Tsushima" />
            <div class="game-n-more">
              <p>Ghost of Tsushima</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Ghost of Tsushima</h2>
                  <hr>
                  <div class="game-content">
                    <p>Ghost of Tsushima é um jogo passado durante a invasão mongol do Japão, em 1274, na ilha de
                      Tsushima. O jogador assume o papel de Jin Sakai, um samurai que deve deixar de lado as tradições e
                      se tornar "O Fantasma" para defender o seu lar e o povo japonês de Khotun Khan e as suas forças
                      invasoras. O jogo combina combates de espadas e furtividade, exploração num mundo aberto vibrante
                      e uma narrativa sobre honra, sacrifício e a necessidade de se adaptar para sobreviver, além de
                      incluir elementos como exploração, combate com arco, e táticas de assassínio. </p>
                    <p><strong>Gênero:</strong> Ação, Aventura, Mundo Aberto</p>
                    <p><strong>Desenvolvedor(a):</strong> Sucker Punch Productions, Nixxes Software</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 5, PlayStation 4, Microsoft Windows</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/death-stranding.jpg" alt="Death Stranding" />
            <div class="game-n-more">
              <p>Death Stranding</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Death Stranding</h2>
                  <hr>
                  <div class="game-content">
                    <p>Death Stranding é um jogo sobre reconectar uma sociedade dividida e destruir um futuro desolado,
                      onde um evento apocalíptico chamado "Death Stranding" abriu passagens para o mundo dos mortos,
                      resultando na disseminação de criaturas fantasmagóricas e um cataclismo que deixou a humanidade à
                      beira da extinção. O jogador assume o papel de Sam Porter Bridges, um mensageiro que precisa
                      viajar por um continente devastado, entregando suprimentos e conectando colônias isoladas através
                      de uma rede de comunicação sem fio para salvar a humanidade. O jogo também aborda temas de conexão
                      humana, solidão e a relação da humanidade com a tecnologia e a natureza.</p>
                    <p><strong>Gênero:</strong> Jogo de Tiro, Ação, Aventura</p>
                    <p><strong>Desenvolvedor(a):</strong> Kojima Productions, Kojima Productions Co., Ltd.</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 5, PlayStation 4, macOS, iOS, Xbox Series X | S, Windows</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/bloodborne.jpg" alt="Bloodborne" />
            <div class="game-n-more">
              <p>Bloodborne</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Bloodborne</h2>
                  <hr>
                  <div class="game-content">
                    <p>Bloodborne é um RPG de ação gótico de terror que se passa na cidade amaldiçoada de Yharnam,
                      assolada por uma praga misteriosa que transforma os habitantes em bestas. Os jogadores controlam
                      um Caçador que explora a cidade, luta contra criaturas grotescas com uma combinação de armas de
                      fogo e armadilhas em um combate agressivo e descobre segredos sangrentos e de horror Lovecraftiano
                      para sobreviver.</p>
                    <p><strong>Gênero:</strong> Survival, Luta, Ação, Aventura</p>
                    <p><strong>Desenvolvedor(a):</strong> FromSoftware Inc.</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 4</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/re-4.jpg" alt="Resident Evil 4: Remake" />
            <div class="game-n-more">
              <p>Resident Evil 4: Remake</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Resident Evil 4: Remake</h2>
                  <hr>
                  <div class="game-content">
                    <p>Resident Evil 4 é um jogo onde o jogador controla o agente especial Leon S. Kennedy numa missão
                      para resgatar Ashley Graham, filha do Presidente dos EUA, de um culto sinistro numa vila europeia.
                      O jogo, um remake de 2005 com gráficos e jogabilidade atualizados, destaca-se pela modernização do
                      enredo, novos inimigos como os infectados por Las Plagas, e mecânicas como combate corpo a corpo e
                      gestão de recursos. </p>
                    <p><strong>Gênero:</strong> Survival, Horror, Ação</p>
                    <p><strong>Desenvolvedor(a):</strong> Capcom</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 5, PlayStation 4, Xbox Series X | S, Microsoft
                      Windowns, MAC, Mobile</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/mario-wk.jpg" alt="Mario Kart World" />
            <div class="game-n-more">
              <p>Mario Kart World</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Mario Kart World</h2>
                  <hr>
                  <div class="game-content">
                    <p>Mario Kart World é um jogo de corrida em mundo aberto exclusivo para o Nintendo Switch 2, onde as
                      pistas são conectadas em um mundo contínuo para explorar livremente ou em corridas tradicionais,
                      como no modo Grande Prêmio. O jogo introduz um modo Eliminatória com 24 jogadores, novas mecânicas
                      de pilotagem como a capacidade de andar em paredes e em trilhos, e novos itens e trajes
                      desbloqueáveis. </p>
                    <p><strong>Gênero:</strong> Corrida, Ação</p>
                    <p><strong>Desenvolvedor(a):</strong> Nintendo</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> Nintendo Switch 2</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/spider-man.jpg" alt="Marvel's Spider-Man" />
            <div class="game-n-more">
              <p>Marvel's Spider-Man</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Marvel's Spider-Man</h2>
                  <hr>
                  <div class="game-content">
                    <p>Marvel's Spider-Man é um jogo de ação-aventura que permite ao jogador controlar um Homem-Aranha
                      experiente e ágil em Nova Iorque, com uma história envolvente e um sistema de combate focado em
                      acrobacias e interações com o ambiente. O jogo oferece um Peter Parker maduro que equilibra a luta
                      contra o crime com a sua vida pessoal e profissional, enfrentando vilões icónicos enquanto protege
                      a cidade.</p>
                    <p><strong>Gênero:</strong> Ação, Aventura, Herói</p>
                    <p><strong>Desenvolvedor(a):</strong> Insomniac Games</p>
                    <p><strong>Tipo:</strong> Pago</p>
                    <p><strong>Disponível para:</strong> PlayStation 5, PlayStation 4, Microsoft Windowns</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="card__game">
            <img src="/front-backend/views/src/assets/imgs/plataformas/console/halo-infinite.jpg" alt="Halo Infinite" />
            <div class="game-n-more">
              <p>Halo Infinite</p>
              <button class="openModal">Saiba mais</button>

              <div class="modal" class="myModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Halo Infinite</h2>
                  <hr>
                  <div class="game-content">
                    <p>Halo Infinite é um jogo de tiro em primeira pessoa, o mais recente da famosa franquia Halo, que
                      foi lançado para Xbox e PC. O jogo apresenta uma campanha onde o jogador assume o papel do Master
                      Chief, o herói lendário da humanidade, e um modo multiplayer gratuito que foi reinventado e
                      aprimorado com atualizações sazonais, eventos e conteúdo da comunidade.</p>
                    <p><strong>Gênero:</strong> Tiro em Primeira Pessoa, Ação, Aventura</p>
                    <p><strong>Desenvolvedor(a):</strong> Halo Studios</p>
                    <p><strong>Tipo:</strong> Gratuito</p>
                    <p><strong>Disponível para:</strong> Xbox One, Xbox Series X e Series S, Microsoft Windows, Xbox
                      Cloud Gaming, GeForce Now</p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <button class="arrow right">&#128898</button>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-head">
      <span>GameWired</span>
      <img src="/front-backend/views/src/assets/imgs/Logo.svg" alt="Logo-GameWired" />
    </div>

    <div class="description">
      <p>Projeto de Extensão</p>
    </div>

    <div class="infos">
      <div class="about">
        <p>Sobre:</p>

        <ul>
          <li>
            <a href="">Sobre nós</a>
          </li>

          <li>
            <a href="">Contato</a>
          </li>

          <li>
            <a href="">Suporte</a>
          </li>

          <li>
            <a href="https://gamewiredfaq.netlify.app/">FAQ</a>
          </li>

          <li>
            <a href="">Identidade</a>
          </li>
        </ul>
      </div>

      <div class="sections">
        <p>Navegação:</p>

        <ul>
          <li>
            <a href="/front-backend/views/public/index.html">Home</a>
          </li>

          <li>
            <a href="news.html"> Notícias </a>
          </li>

          <li>
            <a href="#">Plataformas</a>
          </li>

          <li>
            <a href="community.html">Comunidade</a>
          </li>

          <li>
            <a href="register.html">Cadastre-se</a>
          </li>

          <li>
            <a href="login.html">Login</a>
          </li>
        </ul>
      </div>

      <div class="social">
        <p>Social:</p>

        <ul>
          <li>
            <a href="">
              <i class="ph ph-instagram-logo"></i>
              Instagram
            </a>
          </li>

          <li>
            <a href="">
              <i class="ph ph-x-logo"></i>
              Twitter X
            </a>
          </li>

          <li>
            <a href="">
              <i class="ph ph-dev-to-logo"></i>
              Dev
            </a>
          </li>

          <li>
            <a href="">
              <i class="ph ph-github-logo"></i>
              GitHub
            </a>
          </li>

          <li>
            <a href=""><i class="ph ph-discord-logo"></i>
              Discord
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="direitos">
      <p>© 2024 GameWired. Todos os direitos reservados.</p>
    </div>
  </footer>

  <script src="/front-backend/views/src/assets/scripts/_navBar.js"></script>
  <script src="/front-backend/views/src/assets/scripts/_temas.js"></script>
  <script src="/front-backend/views/src/assets/scripts/_carousel-cards.js"></script>

</body>
</html>